#!/bin/sh

# Compositor
# picom --experimental-backend -b &

# Notification daemon
dunst &

# Location daemon & redshift
/usr/lib/geoclue-2.0/demos/agent &
redshift-gtk &

# Network manager
nm-applet &

# Enable when using MPD
mpDris2 &

# ~/.scripts/menus/screens.sh both &
~/.scripts/menus/screens.sh both --left &
~/.scripts/notifications/battery.sh &

~/.fehbg &
xrdb ~/.xresources
